@import "./fonts.scss";

$green: #188b30;
$greenPhone: #009900;
$orange: #ef9200;
$white: #fff;
$blackText: #000000;
$doorText: #383838;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  line-height: 1.47; 
  color: #2f2f2f;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  max-width: 100vw;
}

div {
  display: block;
}

p {
  display: inline-block;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: $green;
}
img {
  max-width: 100%;
}

i {
  display: inline-block;
}

.logo {
    display: block;
    width: 101px;
    height: 48px;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

button {

  &.step_submit {
    background: $green;
    width: 536px;
    height: 58px;
    padding: 5px;
    color: $white;
    font-size: 25px;
    margin: 15px 0 0;
    border-radius: 2px;
    color: #ffffff;
    font-family: 'Roboto-Light';
    font-size: 25px;
    font-weight: 300;
    line-height: 24px;
    cursor: pointer;
  }

}

.header {
  width: 100%;
  height: 581px;
  background-image: url(../images/header_bg.png);
  background-position: top;

  .top__header {
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    background-image: url(../images/substrate.png);
    color: grey;
    z-index: 1; 
  }

  section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
    .top__left {
      display: flex;
      flex-flow: row nowrap;
      padding: 7px 0 5px 0;
    }

    .top__right {
      width: 185px;
      height: 45px;
      margin: -13px 0 0 0;
    }

  }

  .logo {
    margin: 0 20px 0 11px;

    &__text {
      width: 215px;
      height: 25px;
      color: $blackText;
      font-family: 'Roboto-Regular';
      font-size: 12px;
      font-weight: 300;
      margin: 8px 0 17px 0;
      line-height: 1.3;
    }
  }

  .contacts {
    display: flex;
    flex-flow: row wrap;
    max-width: 171px;
    height: 45px;
    flex-basis: 100%;
    color: $greenPhone;
    font-family: 'Roboto-Regular';
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 0 0;

    .codes {
    width: 47px;
    font-family: "Roboto-Light";
    font-size: 11px;
    margin: 4px 6px 0px 0px;
    }

    .phone {
      font-size: 26px;
      width: 118px;
    }

    .schedule {
      width: 100%;
      height: 15px;
      color: $blackText;
      font-family: 'Roboto-Light';
      font-size: 17px;
      text-transform: uppercase;
      position: relative;
      text-align: center;
      margin: -3px -10px;

      p {
        font-size: 13px;
      }

      mark {
        display: inline-block;
        color: $blackText;
        font-family: 'Roboto-Regular';
        line-height: 21px;
        background: none;
        text-transform: lowercase;
        margin: 0 3px;
      }

      span {
        display: inline-block;
        width: 11px;
        font-size: 11px;
        position: relative;
        margin: 0 0 0 0;
        top: -7px;
      }
    }

  }

    .section__center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 421px;
      margin-top: 60px;
    }

    .center {
      width: 713px;
      height: 157px;
      border: 2px solid #f2a62f;
      padding: 13px 0px 12px 12px;
      margin: 18px 3px 0 0;
      align-content: center;

    &__bg {
      width: 686px;
      height: 128px;
      opacity: 0.88;
      background: url(../images/white__bg.png) no-repeat;
      padding-top: 14px;
    }

    h1 {
      width: 599px;
      height: 71px;
      color:  $blackText;
      font-family: 'Roboto-Light';
      font-size: 31px;
      line-height: 49px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0px 0 50px;
    }
  }

  .section__bottom {
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #000000;
    opacity: 0.49;
    margin: 0 auto;
    
    section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px  0  13px  0; 
  }

    .nav {
      flex-basis: 36%;
      height: 71px;

      &:nth-child(2n) {
        border-right: 1px solid whitesmoke;
        border-left:  1px solid whitesmoke;
      }

      &__block {
        flex-basis: 250px;
        min-height: 47px; 
        margin: 9px 0 0 0;

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          height: 100%; 

          &:hover {
            color: white;
          }
        }
      }

      i {
        display: block;
      }

      .i__saw {
        width: 44px;
        height: 44px;
        background-image: url(../images/icons/isaw.png); 
        margin: 0 17px 0 93px;
      }

      .i__wallet{
        width: 42px;
        height: 44px;
        background-image: url(../images/icons/iwallet.png); 
        margin: 0px 14px 0 78px;

      }

      .i__inst {
        width: 48px;
        height: 43px;
        background-image: url(../images/icons/installment.png); 
        margin: 5px 19px 0 57px;
      }

      p {
        color: $white;
        font-family: 'Roboto-Light';
        font-weight: 300;
        font-size: 21px;
      }

      .__first {
        width: 191px;
        height: 45px;
        margin: -11px 0 0 0;
        line-height: 1.4;
      }

      .__second {
        width: 183px;
        height: 20px;
      }

      .__last {
        width: 142px;
        height: 43px;
        margin: -10px 0 0 0;
        line-height: 1.2;
      }
    }
  }
}

.component {
  flex-grow: 1;

  section {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  &__top {
    color: $green;
    width: 100%;
    height: 94px;
    font-family: 'Roboto-Light';
    text-align: center;
    position: relative;

    h3 {
      font-size: 38px;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 41px;
    }

    p {
      font-size: 32px;
      line-height: 36px;
      margin: 12px 0 0 23px;
    }
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 37px;

    .step__box {
      // display: flex;
      // flex-flow: column nowrap;
      width: 100%;
      min-height: 662px;
      background-color: #ffffff;
      padding: 37px 0 47px;
      border: 2px solid #d0d0d0;

      .show__xs {
        display: block;
      }

      .hide__xs {
        display: block; //then turn the property into none
        // border: 2px solid #d0d0d0;
      }
    }

    .orange {
      width: 100%;
      height: 30px;
      color: $orange;
      font-family: "Roboto-Light";
      font-size: 24px;
      font-weight: 300;
      line-height: 18px;
      text-align: center;

      &__b {
        font-family: "Roboto-Bold";
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 15px 0;


      &.step_0 {
        padding: 54px 0 47px;
      }

      &.step_1 {
        padding: 55px 0 75px;
      }

      &.step_2 {
        padding: 55px 0 39px;
      }

      &.step_3 {
        // padding: 51px 0 38px;
        padding: 51px 0 0;
        height: 542px;
      }

      &.step_4 {
        padding: 45px 0 37px;
      }
    }

    fieldset {
      max-width: 360px;
      width: 100%;
      border: 1px solid rgba(186, 186, 186, 0.67);
      position: relative;
      margin-bottom: 32px;

      &:nth-child(2) {
        margin: 0 29px 32px 29px;
      }

      &:nth-child(5) {
        margin: 0 49px 32px 29px;
      }

    }

    .step__0 {
      fieldset {
        min-height: 231px;
        &:hover {
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
        }
      }
    }



    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $doorText;
      font-family: 'Roboto-Light';
      font-size: 24px;
      font-weight: 300;
      line-height: 18px;

      input {
        // margin: 110px 0 0 200px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 100px;
        left: 201px;
        width: 31px;
        height: 31px;
        border: 3px solid rgba(128, 128, 128, 0.67);
        // padding: 4px 5px;
        

        &:after {
          content: "";
          position: absolute;
          display: none;
        }

        &:after {
          left: 2px;
          top: 3px;
          width: 20px;
          height: 16px;
          background: url(../images/icons/check_mark.png) 1px 1px no-repeat;
        }
      }
      input:checked ~ .checkmark:after {
        display: block;
      }


      &[for=ecoshpon] {
        width: 100%;
        height: 100%;
        background: url(../images/door/ecoshpon.png) 6% 37%no-repeat;
        margin: -1px 0 0px 0px;
        padding: 108px 0px 0px 235px !important;
      }

      &[for=massiv] {
        width: 100%;
        height: 100%;
        background: url(../images/door/massiv.png) 6% 37%no-repeat;
        margin: -1px 0 0px 0px;
        padding: 104px 0px 0px 235px !important;
      }

      &[for=mdf] {
        width: 100%;
        height: 100%;
        background: url(../images/door/mdf.png) 6% 37% no-repeat;
        padding: 103px 0px 0px 240px !important;
      }

      &[for=shpon] {
        width: 100%;
        height: 100%;
        background: url(../images/door/shpon.png) 6% 37% no-repeat;
        padding: 104px 0px 0px 235px !important;
      }

      &[for=help0] {
        width: 100%;
        height: 100%;
        background: url(../images/icons/i_help0.png) 6% 37% no-repeat;
        padding: 104px 0px 0px 235px !important;
      }
    }

      p {
        &.step {
          display: inline-block;
          width: 326px;
          height: 58px;
          // color: #ffffff;
          font-family: 'Roboto-Light';
          font-size: 25px;
          // font-weight: 300;
          line-height: 32px;
          text-transform: none;
          cursor: pointer;
        }

        &.button__next {
          padding: 12px 40px;
          color: #fff;
          border-radius: 4px;
          font-weight: 700;
          background: $green;
          margin: 81px 15px 85px 0px;
          // font-size: 15px;
          

          &:after {
            content: "";
            background: url(../images/icons/arrows_next.png) no-repeat;
            width: 20px;
            height: 24px;
            display: inline-block;
            transform: rotate(0deg);
            margin: 6px 0 0 15px;
            position: absolute;
          }
  
          &:hover {
            opacity: 0.8;
          }
        }

        &.button__prev {
          border: 2px solid $green;
          color: $green;
          padding: 11px 0 0 26px;
          display: inline-block;
          text-align: center;
          position: relative;
  
          &:before {
            content: "";
            background: url(../images/icons/arrows_prev.png) no-repeat;
            width: 20px;
            height: 24px;
            display: inline-block;
            margin: 6px 0 0 -5px;
            position: absolute;
            transform: none;
            left: 40px;
          }
  
          &:hover {
            opacity: 0.8;
          }
        }
    }

    .step__1 {

      fieldset {
        min-height: 365px;
        margin-bottom: 37px;
        text-align: center;

        &:nth-child(2) {
          margin: 0 30px 37px 34px;
        }
  
        &:hover {
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
        }
      }

      .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: $doorText;
        font-family: 'Roboto-Light';
        font-size: 24px;
        font-weight: 300;
        line-height: 18px;
  
        input {
          // margin: 110px 0 0 200px;
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
  
        .checkmark {
          position: absolute;
          top: 276px;
          left: 163px;
          width: 31px;
          height: 31px;
          border: 3px solid rgba(128, 128, 128, 0.67);
          
  
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
  
          &:after {
            left: 2px;
            top: 3px;
            width: 20px;
            height: 16px;
            background: url(../images/icons/check_mark.png) 1px 1px no-repeat;
          }
        }
        
        input:checked ~ .checkmark:after {
          display: block;
        }

        &[for=none] {
          width: 100%;
          height: 100%;
          background: url(../images/door/none_glass.png) 55% 14% no-repeat;
          padding: 313px 0px 0px 20px !important;

          .checkmark {
            left: 171px;
          }
        }

        &[for=with] {
          width: 100%;
          height: 100%;
          background:  url(../images/door/with_glass.png) 51% 14% no-repeat;
          padding: 313px 0px 0px 20px !important;
        }

        &[for=help1] {
          width: 100%;
          height: 100%;
          background: url(../images/icons/i_help1.png) 47% 25% no-repeat;
          padding: 313px 0px 0px 20px !important;
        }
      }

      .button__box {
        max-width: 788px;
        width: 100%;
        height: 58px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 80px;
      }

      .button__next {
        margin: 88px 5px;
        padding: 12px 40px;
        margin: 0 45px 0 0;
        border-radius: 0;
      }
    }

    .step__2 {

      fieldset {
        width: 263px;
        height: 274px;
        text-align: center;
        margin: 0 29px 33px 0;

        &:nth-child(4) {
          margin-right: 0;
        }

        &:nth-child(8) {
          margin-right: 0;
        }

        &:hover {
          box-shadow: 0 0 32px rgba(0, 0, 0, 0.12);
        }

        .container {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: $doorText;
          font-family: 'Roboto-Light';
          font-size: 24px;
          font-weight: 300;
          line-height: 18px;
    
          input {
            // margin: 110px 0 0 200px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
    
          .checkmark {
            position: absolute;
            top: 222px;
            left: 119px;
            width: 31px;
            height: 31px;
            border: 3px solid rgba(128, 128, 128, 0.67);
            
    
            &:after {
              content: "";
              position: absolute;
              display: none;
            }
    
            &:after {
              left: 2px;
              top: 3px;
              width: 20px;
              height: 16px;
              background: url(../images/icons/check_mark.png) 1px 1px no-repeat;
            }
          }
          
          input:checked ~ .checkmark:after {
            display: block;
          }
  

          &[for=layer23] {
            width: 100%;
            height: 100%;
            background: url(../images/door/Layer_23.png) 55% 14% no-repeat;
            padding: 313px 0px 0px 20px !important;
          }
  
          &[for=layer24] {
            width: 100%;
            height: 100%;
            background: url(../images/door/Layer_24.png) 55% 14% no-repeat;
            padding: 313px 0px 0px 20px !important;
          }
  
          &[for=layer25] {
            background: url(../images/door/Layer_25.png) no-repeat; 
            background-position: center 10px;
          }
  
          &[for=layer26] {
            background: url(../images/door/Layer_26.png) no-repeat; 
            background-position: center 10px;
          }
  
          &[for=layer27] {
            background: url(../images/door/Layer_27.png) no-repeat;
            background-position: center 10px;
          }

          &[for=layer28] {
            background: url(../images/door/Layer_28.png) no-repeat;
            background-position: center 10px;
          }
          &[for=layer29] {
            background: url(../images/door/Layer_29.png) no-repeat;
            background-position: center 10px;
          }
          &[for=question] {
            background: url(../images/icons/question_mark.png) no-repeat;
            background-position: center 33px;
          }

        }
      }
      

      .button__next {
        margin: 0;
      }

    }

    .step_3 {
      
      min-height: 427px;
      // background: url(../images/icons/cashpig.png) 25% 10px no-repeat;
      background: url(../images/icons/cashpig.png) 28% 51px no-repeat;

      

        fieldset{
          // max-width: 360px;
          // width: 100%;
          // min-height: 231px;
          // border: 1px solid rgba(186, 186, 186, 0.67);
          // position: relative;
          // margin-bottom: 32px;
          border: 0;
          text-align: right;
          max-width: 60%;
          padding: 0 265px 0 0;
          min-height: 1px;
          margin-bottom: 0px;

          &:nth-child(2) {
            margin: 0;

          }

          &:nth-child(5) {
            margin: 0;
          }

          &:nth-child(6) {
            max-width: 100%;
            margin: 0 0 0 0;
            right: 0;

            input  {
              margin: 0 233px 0 0;
            }
            
            label {
              padding: 0px 234px  0px 0px;
            }
            
          }

          &:hover {
            box-shadow: none;
          }

          input {
            margin: 0;


          }

          label {
          position: absolute;
          right: 0;
          padding: 0px 0px 0px 0px;
          cursor: default;

            &:nth-child(6) {
              padding: 0 0 0 0;
            }
          }          
        }

          .button__next {
            margin: 0px 0 0 0;
            bottom: 0;
            border-radius: 0%;
          }
          .button__prev {
            // margin: 0px 89px;
            margin: 0px 0 0 0;
            bottom: 0;
          }
          
      }

      .step__4 {
        height: 689px;


        .contact {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          justify-content: flex-end;
          background: url(../images/icons/i_contact.png) 0 10px  no-repeat;
          min-height: 250px;
          align-items: center;
          margin: 41px 0 0 19px;
        }

        .consult {
          width: 688px;
          height: 95px;
          color: #383838;
          font-family: 'Roboto-Light';
          font-size: 20px;
          font-weight: 300;
          line-height: 38px;
          list-style: none;
          margin: 0px -4px 34px 0px;
          position: relative;

          li {
            display: list-item;
            text-align: -webkit-match-parent;
  
            &:before {
              content: "";
              background: url(../images/icons/double-tick.png) 0px no-repeat;
              width: 40px;
              height: 24px;
              display: inline-block;
              margin-top: 10px;
              // left: 444px;
              left: -44px;
              position: absolute;
            }
          }
        }

        .step_4 {

          fieldset {
              max-width: 250px;
              height: 70px;
              // width: 100%;
              border: 0;
              color: #383838;
              font-family: 'Roboto-Light';

              input {
                width: 303px;
                height: 47px;
                margin: 27px 0 0 0;
                padding: 10px;
                border: 1px solid #999;
                font-size: 14px;
              }

              label {
                font-size: 20px;
                cursor: default;
              }
          }

          .step_submit {
            margin: 0;
          }
          
          .button__prev {
            margin: 30px 5px!important;

            text-align: center;
            position: relative;
          }
           
          .long100 {
            content: "";
            display: block;
            width: 100%;
            max-width: 90%;
            height: 1px;
          }

        }
      }

      .profits {
        width: 100%;
        padding: 59px 35px 61px 32px ;
        text-align: center;

        p {
          width: 100%;
          height: 23px;
          color: #4e4e4e;
          font-family: 'Roboto-Light';
          font-size: 26px;
          // line-height: 24px;
          text-transform: uppercase;
        }

        .pros {
          display: inline-block;
          width: 320px;
          height: 141px;
          margin-top: 39px;
          margin-right: 67px;

          &:last-child {
            margin-right: 0px;
          }

          div {
            height: 108px;
            width: 100%;
            border-bottom: 1px solid grey;
          }

          .i__wallet_gold {
            display: inline-block;
            width: 71px;
            height: 73px;
            background: url(../images/icons/wallet_gold.png) no-repeat;
          }

          .i__truck_gold {
            display: inline-block;
            width: 80px;
            height: 61px;
            background: url(../images/icons/truck_gold.png) no-repeat;
          }

          .i__medal_gold {
            display: inline-block;
            width: 68px;
            height: 88px;
            background: url(../images/icons/medal_gold.png) no-repeat;
          }

          p {
            width: 100%;
            // margin-top: 16px;
            height: 17px;
            color: #383838;
            font-family: 'Roboto-Light';
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            text-transform: none;
          }
        }
      }
  }
}

footer {
  width: 100%;
  height: 1813px;
  
  .up__footer {
    width: 100%;
    min-height: 1013px;
    background-color: #f8f8f8;
  }

  section {
    padding: 0 15px;
  }

  .credits {
    min-height: 1013px;
    padding: 41px 0 60px;
    box-sizing: border-box;

    .title {
      display: block;
      width: 100%;
      height: 76px;
      color: #188b30;
      font-family: 'Roboto-Regular';
      font-size: 24px;
      font-weight: 400;
      line-height: 39px;
      text-align: center;

      p {
        &:first-child {
          color: #272727;
          font-size: 35px;
          line-height: 39px;
          text-transform: uppercase;
        }
      }
    }

    .card {
      display: inline-block;
      width: 360px;
      min-height: 194px;
      margin: 54px 17px 21px 0;
      border: 1px solid $orange;
      position: relative;

      span {
        display: inline-block;
        width: 283px;
        height: 37px;
        color: #2e2e2e;
        font-family: 'Roboto-Regular';
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        left: 42px;
        top: -12px;
        background-color: #f8f8f8;
      }

      mark {
        color: #ff9d03;
        font-family: "Roboto-Black";
        font-weight: 900;
        line-height: 23.7px;
        background: none;
      }

      p {
        font-family: "Roboto-Regular";
        font-weight: 400;
        line-height: 23.7px;
        text-transform: none;
      }

      img {
        left: 73px;
        top: 45px;
        position: absolute;
      }

      
        

        .vtb {
          display: inline-block;
          width: 83px;
          height: 31px;
          background: url(../images/icons/VTB_lease.png) no-repeat;
          left: 127px;
          top: 52px;
          position: absolute;

        }
        .blrbnk {
          display: inline-block;
          width: 198px;
          height: 19px;
          background: url(../images/icons/logo-belarusbank.png) no-repeat;
          left: 78px;
          top: 99px;
          position: absolute;

        }
        .reshbnk {
          display: inline-block;
          width: 137px;
          height: 37px;
          background: url(../images/icons/bank-reshanie.png) no-repeat;
          left: 112px;
          top: 132px;
          position: absolute;
        }    
    }

    .title_2 {
      color: #ef7600;
      font-family: 'Roboto-Regular';
      font-size: 30px;
      font-weight: 400;
      line-height: 39px;
      text-align: center;
      text-transform: uppercase;
      display: block;
      width: 100%;
      height: 61px;
    }

    .connection {

      p:first-child{
        width: 100%;
        font-family: 'Roboto-Regular';
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;
        color: $green;
        text-transform: none;
        text-align: center;
      }
    }

    .form_connection {
      // display: block;
      width: 945px;
      margin-top: 42px;
      padding: 0 7px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-top: 42px;
      justify-content: center;
    }

    .form_field {
      flex-basis: 285px;
      min-height: 65px;
      border: none; 

      margin: 0 38px 20px 0;
      box-sizing: border-box;

      &:nth-child(3) {
        margin: 0 0 20px 0;
      }

      label {
        width: 279px;
        height: 15px;
        color: #323232;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 39px;
      }

      input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        padding:0 20px;
        outline: none;
        border: 1px solid #c0c0c0;
      }

      .form_select, .form_input {
        // position: relative;
        width: 285px;
        max-height: 40px;
        color: #676767;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        font-weight: 400;
        // line-height: 39px;
        box-sizing: border-box;
       
      }
        
        
      select {
          border: 1px solid #c0c0c0;
          width: 100%;
          height: 40px;
          -webkit-appearance: none;
          background: url(../images/icons/select_triangle.png)  95% 50% no-repeat;
          background-color: #fff;
          border-radius: 5px;
          padding:0  20px;
          outline: none;
          color: #676767;
          font-family: 'Roboto-Regular';
          font-size: 16px;
          font-weight: 400;
          

          & > option {
            min-width: 96px;
            height: 15px;
          }
        }
    }

    .step_submit {
      width: 420px;
      height: 52px;
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 39px;
      border: none;
    }

    .phone_block {
      width: 100%;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 32px;
      color: $green;
    }

    .phone_text {
      width: 233px;
      height: 16px;
      margin-right: 31px;

      p {
        color: #272727;
        font-family: 'Roboto-Regular';
        font-size: 17px;
        font-weight: 400;
        padding-right: 15px;
      }
    }

    .phone_wrapper {
      width: 384px; 
      cursor: pointer;
      padding-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #272727;
      position: relative;
      flex-flow: row wrap;
    }

    .phone_gold {
      background: url(../images/icons/phone-gold.png) 50%/100% no-repeat;
      width: 35px;
      height: 41px;
      margin: 0 7px 0 0;
      top: -1px;
      left: -17px;
      position: absolute;
    }

    .phone_code {
      width: 75px;
      height: 37px;
      font-family: 'Roboto-Regular';
      font-size: 17px;
      font-weight: 400;
      margin: 0px 0px 0 -69px;

      span {
        width: 100%;
      }
    }

    .phone_number {
      width: 205px;
      height: 32px;
      font-size: 45px;
      font-weight: 400;
      line-height: 40px;
      margin: 0px 0px 0 0px;
    }
  }
  
  .mid__footer {
    width: 100%;
    min-height: 680px;
    padding: 50px 0 61px;

    .catalog {
      flex-basis: 1147px;
      min-height: 565px;
      box-shadow: 0 0 21px rgba(0, 0, 0, 0.07);
      padding: 28px 29px 24px 37px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    .catalog_banner {
      display: block;
      width: 433px;
      height: 513px;
      margin-right: 59px; 
      position: relative;

      img {
        width: 181px;
        height: 441px;
        position: absolute;

        &:first-child {
          top:0;
          left:0;
        }

        &:nth-child(2) {
          top: 34px;
          left: 127px;
        }

        &:last-child {
          top: 68px;
          left: 252px;
        }
      }
    }

    .catalog__text {
      display: block;
      width: 623px;
      height: 406px;
      color: #383838;
      font-family: 'Roboto-Light';
      font-size: 26px;
      font-weight: 300;
      line-height: 34px;
      margin-top: 40px;

      .top_text {
        width: 444px;
        height: 112px;
      }
      p:nth-child(2) {
        color: #188b30;
        font-size: 50px;
        line-height: 54px;
        text-transform: uppercase;
      }
    }

    .catalog_list {
        width: 539px;
        height: 109px;
        color: #383838;
        font-family: 'Roboto-Light';
        font-size: 20px;
        font-weight: 300;
        line-height: 45px;
        list-style: none;
        margin: 56px 0px 0 61px;
        position: relative;

      li {
        display: list-item;
        text-align: -webkit-match-parent;

        &:before{
          display: inline-block;
          content: "";
          width: 46px;
          height: 27px;
          background: url(../images/icons/doublecheck_green.png) no-repeat;
          position: absolute;
          top: 10px;
          left: -56px;
        }

        &:nth-child(2):before {
          top: 53px;
        }
        &:last-child:before {
          top: 96px;
        }
      }  
    }

    p{

      &.step {
        display: block;
        width: 457px;;
        height: 58px;
        font-family: 'Roboto-Light';
        font-size: 25px;
        font-weight: 300;
        text-transform: none;
        cursor: pointer;
      }

      &.to__catalog {

        padding: 12px 64px;
        color: #fff;
        font-weight: 700;
        background: $green;
        margin: 74px 0 0 8px;
        

        &:after {
          content: "";
          background: url(../images/icons/arrows_next.png) no-repeat;
          width: 20px;
          height: 24px;
          display: inline-block;
          transform: rotate(0deg);
          margin: 6px 0 0 31px;
          position: absolute;
        }

        &:hover {
          opacity: 0.8;
        }
      }

    }


  }

  .btm__footer {
    width: 100%;
    height: 125px;
    background-color: #f8f8f8;

    section {
      padding: 16px 5px 12px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    #toTop {
      display: block;
      width: 48px;
      height: 48px;
      position: fixed;
      bottom: 36px;
      left: 136px;
      border: none;
      outline: none;
      cursor: pointer;
      // border-radius: 4px;
      // z-index: 99;
    }

    .top_arw {
      width: 100%;
      height: 100%;
      background: url(../images/icons/arrow_up.png) no-repeat;
    }

    .logo_btm {
      width: 262px;
      height: 97px;

    
      .logo {
        margin-left: 76px;
      }
        
      .ft_txt {
        width: 100%;
        height: 32px;
        color:$blackText;
        font-family: 'Roboto-Light';
        font-size: 15px;
        font-weight: 300;
        text-align: center;
      }
    }

    .info_foot {
      width: 345px;
      height: 48px;

      .ft_txt {
        height: 100%;
        text-align: center;
      }
    }

    .contacts_foot {
      display: flex;
      flex-flow: row wrap;
      max-width: 319px;
      height: 71px;
      flex-basis: 100%;
      color: $greenPhone;
      font-family: 'Roboto-Regular';
      font-size: 21px;
      font-weight: 400;
      margin: -20px 0 0 0;

        .codes_foot {
        width: 92px;
        font-family: 'Roboto-Regular';
        font-size: 21px;
        font-weight: 300;
        }
    
        .phone_foot {
          font-family: "Roboto-Regular";
          font-size: 50px;
          font-weight: 400;
          width: 227px;
          margin: -9px 0 0 0;
        }
    
        .schedule_foot {
          width: 100%;
          // width: 194px;
          height: 17px;
          font-family: 'Roboto-Regular';
          color: $blackText;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
          margin: 0px 0px 0 0;

          p {
            font-size: 16px;
          }
  
          mark {
            display: inline-block;
            color: $blackText;
            font-family: 'Roboto-Regular';
            line-height: 21px;
            background: none;
            text-transform: lowercase;
            margin: 0 3px;
          }

          span {
            display: inline-block;
            width: 13px;
            font-size: 11px;
            position: relative;
            margin: 0 0 0 0;
            top: -7px;
          }
        }
      }
  }
}